<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magossi.simb">



    <uses-sdk android:minSdkVersion="10"
        android:targetSdkVersion="23"  />

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-feature android:name="android.hardware.nfc" android:required="true"/>-->
    <!--<uses-permission android:name="android.permission.NFC" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_alerta_vaca"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<action android:name="android.nfc.action.TAG_DISCOVERED"/>-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CadastroActivity"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".activity.ScannerActivity"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".activity.BuscarActivity"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".activity.TarefasActivity"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".activity.BovinoActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BuscarActivity"/>
        </activity>
    </application>

</manifest>
